{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="year">Year</label>
            <input id="year" type="text" class="form-control" placeholder="Year" name="year" value="{{city.year}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="mileage">Mileage (thousands)</label>
            <input id="mileage" type="text" class="form-control" placeholder="City Latitude" name="mileage" value="{{city.mileage}}">
        </div>
        <div class="col">
            <label for="price">Price</label>
            <input id="price" type="text" class="form-control" placeholder="City Longitude" name="price" value="{{city.price}}">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}
