{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="year">Year</label>
            <input id="year" type="text" class="form-control" placeholder="Year" name="year" value="{{city.year}}">
        </div>
        <div class="col">
            <label for="fldAbbreviation">City Abbreviation</label>
            <input id="fldAbbreviation" type="text" class="form-control" placeholder="City Abbreviation"
                   name="fldAbbreviation" value="{{city.fldAbbreviation}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="mileage">City Latitude</label>
            <input id="mileage" type="text" class="form-control" placeholder="City Latitude" name="mileage" value="{{city.mileage}}">
        </div>
        <div class="col">
            <label for="price">Price</label>
            <input id="price" type="text" class="form-control" placeholder="City Longitude" name="price" value="{{city.price}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldCapitalStatus">Capital Status</label>

            <input id="fldCapitalStatus" type="text" class="form-control" placeholder="Capital Status"
                   name="fldCapitalStatus" value="{{city.fldCapitalStatus}}">
        </div>
        <div class="col">
            <label for="fldPopulation">City Population</label>
            <input id="fldPopulation" type="text" class="form-control" placeholder="Population" name="fldPopulation" value="{{city.fldPopulation}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}
