{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Mileage</th>
        <th scope="col">Price</th>
        <th scope="col">Abbreviation</th>
        <th scope="col">Capital Status</th>
        <th scope="col">Population</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td><a href="view/{{city.id}}">{{ city.year }}</a></td>
        <td>{{ city.mileage }}</td>
        <td>{{ city.price }}</td>
        <td>{{ city.fldAbbreviation }}</td>
        <td>{{ city.fldCapitalStatus }}</td>
        <td>{{ city.fldPopulation }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}