{% extends "layout.html" %}
{% block content %}
<form action="/cities/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="year">Year</label>
            <input id="year" type="text" class="form-control" placeholder="Year" name="year">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="mileage">Mileage (thousands)</label>
            <input id="mileage" type="text" class="form-control" placeholder="Mileage" name="mileage">
        </div>
        <div class="col">
            <label for="price">Price</label>
            <input id="price" type="text" class="form-control" placeholder="Price" name="price">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}